body{
    margin: 0;
}

.Head-bar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.Head-bar h3 {
    width: 70%;
    color: white;
}

.Head-bar a {
    flex: 1;
    text-decoration: none;
    color: white;
}